@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

.header{
    background-image: url("../images/desktop/image-header.jpg");
    height:200px;
    font-family: 'Barlow', sans-serif;
    color:white;
}
 
.contact{
    color:#24303E;
    font-family: "Fraunces";
    font-size: 15px;
    text-transform: uppercase;
}
.box{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
}
.logo{
    position: absolute;
    left: 20px;
}